:root {
    /* ### Primary */

    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* ### Neutral */

    --Very-dark-blue : hsl(217, 54%, 11%);
    --Very-blue : hsl(216, 50%, 16%);
    --Very-dark : hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
.Container01 {
    height: 100vh;
    margin: 0 auto;
    max-width: 1440px;
    background-color: var(--Very-dark-blue);
    width: 100%;
    display: flex;
    align-items: center;
}
.Container02 {
    margin: 0 auto;
    width: 320px;
    border-radius: 10px;
    background-color: var(--Very-blue);
    padding: 1em;
}
.image {
    width: 100%;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background-image: url(./images/image-equilibrium.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.eye {
    width: 100%;
    background: color-mix(in srgb, var(--Cyan) 50%, white 0%);
    border-radius: 10px;
    height: 100%;
    display: none;
}
.image:hover .eye {
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Container03 {
    background-color: var(--Very-dark);
    border-radius: 10px;
    padding: 1em;
}
.avatar {
    width: 25px;
    border: 1px solid var(--White);
    border-radius: 50%;
}
.Container04 {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
h2 {
    color: var(--White);
    font-size: 18px;
}
h2:hover {
    cursor: pointer;
    color: var(--Cyan);
}
.summary {
    color: var(--Soft-blue);
    font-weight: 100;
}
.ethdays {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    border-bottom: 1px solid var(--Soft-blue);
    padding-bottom: 1em;
}
.eth {
    color: var(--Cyan);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .3em;
}
.days {
    color: var(--Soft-blue);
    font-weight: 100;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .3em;
}
.footer {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 15px;
    gap: .7em;
    color: var(--White);
    font-weight: 100;
}
.grey {
    color: var(--Soft-blue);
}
.name:hover:not(.grey){
    cursor: pointer;
    color: var(--Cyan);
}